*{
    padding: 0;
    margin: 0;
    outline: none ;  
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

ul {
    list-style-type: none;
}

.w-100 {
    width: 100%;
}

.pt-80 {
    padding-top: 80px;
}

.text-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-white {
  color: #fff;
}

.text-purple {
    color: #9052AD;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logo {
    width: 50px;
    height: 35px;
}

header {
    position: absolute;
    top: 50px;
    padding: 0 20px 0 80px;
    width: 100%;
    z-index: 99999;
}

.nav-link {
    padding: 0 10px;
}

.nav-link a,
.social-link a {
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
}

a {
    text-decoration:  none;
}

.socials {
    width: 50px;
}

.social-link {
    width: 20px;
}

.banner {
    position: relative;
    height: 80vh;
}

.services {
    width: 70%;
    margin: auto;
    justify-content: flex-end;
    position: relative;
    max-width: 753px;
}

.services-section {
  background: #9052AD;
  padding: 80px 0;
}

.services-text {
    width: 100%;
    max-width: 460px;
    background: #fff;
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    height: 601px;
    padding: 4%;
}

.bg-white {
    background: #fff;
}

.banner .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-width: 1100px
}

.get-started-btn {
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;
    background: transparent;
    border: 1px solid gold;
    border-radius: 50px;
    text-transform: capitalize;
}

.headline {
    text-align: left;
    line-height: 1.25em;
    font-size: 61px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    font-family: 'Brandon Grotesque Regular', sans-serif;
    margin-bottom: 1.2rem;
}

.sub-headline {
    line-height: 1.67em;
    font-weight: bold;
    font-size: 25px;
}

.widget {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.widget-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(142, 68, 173);
    border-radius: 8px;
    display: flex;
    padding: 15px 30px;
    outline: none;
    border: none;
}

.pl-30 {
    padding-left: 30px;
}

.list-item {
    padding: 10px 0;
}

.section {
    --bg-overlay-color: transparent;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    margin-left: auto;
    margin-right: auto;
    min-width: 980px;
}

.about-container {
    width: calc(100% - 160px);
    margin: auto;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-img {
    height: 700px;
}

.about-text {
    max-width: 500px;
    margin: auto;
}

.section-header {
    font-size: 40px;
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 2rem;
}

.purple-bg {
  background: #361E47;
}


/*----------------SITE FOOTER
-------------------------------------------------------*/
.site-footer
{
    background:#fafafa;
    font-size:0.93em;
}
.site-footer >.container
{
    padding:30px 0px;
}

.site-footer small
{ 
    display: inline-block;
}

.footer-links,.site-footer small
{ 
    margin: 0 0 .75em;
}

.site-footer small,.footer-links a
{
  color: #8A8A8A;
  font-weight: 300;
  font-size:0.93em;
}

.footer-links a:hover
{ 
    color: #fa5454;
}

.footer-links a:first-child 
{
    padding-right: .4em;
}

/*----------------SOCIAL
-------------------------------------------------------*/

.social li {
  display: inline-block;
  padding-right: .5em;
  text-align: center;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all .8s ease;
  font-size: 1.3em;
  background: #D6D6D6;
}

.social li a:hover {
  background:#000;
}

.choose-us-text {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    max-width: 392px;
    margin: auto;
}

.faq {
    background: #F4F1F5;
}

.faq-heading {
    background: #fff;
    padding: 10rem 0;
}